body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

image{
    background-image:url('loginimage.jpg');
    background-repeat: no-repeat;
    height: 100%;

  
  background-position: center;
  
  background-size: cover;
}
.login-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.form-container {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 14px;
    color: #666;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
    text-align: left;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.forgot-password {
    display: block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 12px;
    text-align: right;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #c0392b;
}

.social-login {
    margin-top: 20px;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.social-icons img:hover {
    opacity: 0.8;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}